Q1=> Create a variable conataining following types of data:
    string,list,float,tuple

In [2]:
# (i) String variable
str = 'Amit'
type(str)

str

In [3]:
# (ii) list variable
l = [2,4,1,6]
type(l)

list

In [4]:
# (iii) Float variable
f = 10.25
type(f)

float

In [5]:
#(iv) tuple variable
t = ('a','b','c','d')
type(t)

tuple

Q2=> Given are some following variable containing data

In [10]:
var=''
var2='[ds,ML,Python]'
var3=['DS','ML','Python']
var4=1
print(type(var))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3=> Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
a = 7
b = 2  

#(i) division
print ('Division: ', a / b) 

#(ii) modulo gives reminder
print ('Modulo: ', a % b) 

#(iii) floor division
print ('Floor Division: ', a // b) 

#(iv) a to the power b
print ('Power: ', a ** b)

Division:  3.5
Modulo:  1
Floor Division:  3
Power:  49

Q4=> Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
     element and its data type.

In [12]:
l = [1,'amit',2.3,"str",[1,2,3],(4,5,6),125,22.00,'shivam','pwskill']
for i in range(len(l)):
    print(l[i],"data type is",type(l[i]))

1 data type is <class 'int'>
amit data type is <class 'str'>
2.3 data type is <class 'float'>
str data type is <class 'str'>
[1, 2, 3] data type is <class 'list'>
(4, 5, 6) data type is <class 'tuple'>
125 data type is <class 'int'>
22.0 data type is <class 'float'>
shivam data type is <class 'str'>
pwskill data type is <class 'str'>

Q5=> Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = int(input('Enter dividend number:'))
B = int(input('Enter the divisor number:'))
count=0
if A%B==0:
    while(A>B and A%B==0):
        count=count+1
        A=A/B
if count>0:
    print(count,"times")
else:
    print("Not divisible")

Enter dividend number:10
Enter the divisor number:2
1 times

Q6=> Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
            l2.append(i)
print("divisible by 3",l1)
print("Not divisible by 3",l2)

divisible by 3 [3, 6, 9, 12, 15, 18, 21, 24]
Not divisible by 3 [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7=> What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer=> 

        Mutable data type:
        A mutable object can be changed after it is created.
        Examples : List, Set, Dictionary 
        
        Immutable data type:
        An immutable object cannot be changed after it is created.
        Exg: tuples, int, float, bool.

In [6]:
# for example of list as mutable data type we can changes after creating
l1=[1,2,3,4]
l1.append(5)
l1.remove(2)
l1

[1, 3, 4, 5]

In [7]:
#tuple is immutable data type so it get error after any updation
t1=(1,2,34,5)
t1.append(6)

AttributeError: 'tuple' object has no attribute 'append'